.pokemon-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 15px;

    @media (min-width: 1200px) {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
        grid-gap: 2rem;
        margin-right: 4rem;
    }
}

.pokedex-title {
    padding: 1rem;
    display: flex;
    justify-content: center;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    color: #2F3E77;
    margin-bottom: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;

    @media (min-width: 1200px) {
        justify-content: space-between;
        margin-bottom: 2rem;
        padding-left: 1.5rem
    }
}

.pokedex-subtitle {
    margin-right: 6rem;
}

.pokemon-title-head {
    margin-left: 2rem;
    margin-top: 2.2rem;

    @media (min-width: 1200px) {
        display: flex;
        justify-content: space-between;
        margin-top: 0;
        margin-left: 6.8rem;
        margin-bottom: 5.1rem;
    }
}

.pokemon-color {
    color: #EA686D
}

.header-logo {
    display: flex;
    justify-content: center;
    padding: 0 6rem 0 6.5rem;

    @media (min-width: 1200px) {
        margin: 2rem 0rem 2rem 7rem;
        width: 10px;
    }
}

.pokeballs-logo{
    width: 12.5rem;
}

.header-images {
    display: flex;
    justify-content: center;
    margin-left: 1.2rem;
    margin-right: 1.2rem;
    margin-bottom: 2.6rem;

}

.pokemon-card-below {
    transform: translateY(2rem);

    @media (min-width: 1200px) {
        transform: translateY(7.5rem);
    }
}

.pokemon-title {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 39px;
    color: #2F3E77;
    margin-right: 3.5rem;

    @media (min-width: 1200px) {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 700;
        font-size: 55px;
        line-height: 60px;
        width: 28.1rem;
    }
}

.pokemon-subtitle {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #2F3E77;
    padding-top: 0.6rem;
    margin-right: 2rem;
    margin-bottom: 0.6rem;

    @media (min-width: 1200px) {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 30px;
        margin-top: 1.1rem;
    }
}

.search-pokemon {
    display: flex;
    margin-bottom: 4.3rem;

    @media (min-width: 1200px) {
        margin-top: 2rem;
    }
}

.search-input {
    background: #FFFFFF;
    border: 1px solid #F4F4F4;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 5px 0px 0px 5px;
    height: 2.5rem;
    width: 13.6rem;
    padding: 1rem;

    @media (min-width: 1200px) {
        height: 2.75rem;
        width: 20.8rem;
    }

}

.search-button {
    background: #EA686D;
    border-radius: 0px 5px 5px 0px;
    height: 2.6rem;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    width: 6.4rem;
    border: 1px solid #F4F4F4;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;

    @media (min-width: 1200px) {
        width: 6.7rem;
    }
}

.first-responsive-image {
    height: 12.8rem;
    width: 8.1rem;

    @media (min-width: 1200px) {
        height: 20.75rem;
        width: 12.8rem;
    }
}

.second-responsive-image {
    height: 12.8rem;
    width: 8.1rem;

    @media (min-width: 1200px) {
        height: 20.75rem;
        width: 12.8rem;
    }
}

.third-responsive-image {
    height: 12.8rem;
    width: 8.1rem;

    @media (min-width: 1200px) {
        height: 20.75rem;
        width: 12.8rem;
    }
}

.round-button-left {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background: #EA686D;
    border: none;
    color: #fff;
    font-size: 24px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.round-button-left:before {
    content: "\003E";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.round-button-right {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background: #EA686D;
    border: none;
    color: #fff;
    font-size: 24px;
    position: relative;
    overflow: hidden;
    margin-right: 0.5rem;
    cursor: pointer;
}

.round-button-right:before {
    content: "\003C";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* CSS DO POKEMON CARD*/

.pokemon-card {
    padding: 1rem 1.5rem;
    background-color: var(--background-card);
    border-radius: 2px;
    filter: drop-shadow(0px 15px 15px rgba(47, 62, 119, 0.1));
    margin: 0 2.1rem 0 2.1rem;
    width: 19.1rem;
    cursor: pointer;

    @media (min-width: 1200px) {
        padding: 1rem 1.5rem;
        background-color: var(--background-card);
        border-radius: 2px;
        filter: drop-shadow(0px 15px 15px rgba(47, 62, 119, 0.1));
        margin-left: 3.6rem;
        margin-right: 4rem;
        width: 13.9rem;
    }
}

.header-card {
    display: flex;
    justify-content: space-between;
}

.pokemon-name {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    color: #233674;
}

.pokemon-cod {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #233674;
}

.pokemon-footer-card {
    display: flex;
    justify-content: space-between;
}

.pokemon-titles {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #233674;
}

.pokemon-values {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #233674;
    text-align: end;
}

.image-fit {
    width: 7.7rem;
    height: 7.6rem;
}