.header-logo-details {
    display: flex;
    justify-content: center; 
    @media (min-width: 1200px) {
        display: flex;
        justify-content: flex-start;
        margin-left: 1.6rem;
     }   
}

.pokemon-name-detail {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    color: #233674;

    @media (min-width: 1200px) {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 700;
        font-size: 35px;
        line-height: 48px;
        text-align: center;
     }  
}

.header-title {
    display: flex;
    margin-left: 2rem;
    justify-content: space-between;
    margin-right: 17.6rem;
}

.pokemon-subtitle-detail {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #233674;
}

.pokemon-cod-detail {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #233674;
}

.pokemon-type {
    background: #F7802A;
    border-radius: 2px;
    width: 6rem;
    height: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}

.header-title-type {
    display: flex;
    margin-left: 2rem;
}

.pokemon-subtitle-type {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #233674;
    margin-right: 0.8rem;
}

.pokemon-image {
    margin: 1.5rem 3.1rem 2.9rem 3.1rem;
    @media (min-width: 1200px) {
        margin: 1.5rem 3.1rem 2.9rem 5rem;
 
     }  

}

.pokemon-title-description {
    display: flex;
    margin-left: 2rem;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    color: #233674;
}

.pokemon-description {
    margin: 0.5rem 2rem 2.75rem 2.2rem;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #233674;
    width: 19.1rem;

    @media (min-width: 1200px) {
        width: 34.2rem;
 
     }  
}

.pokemon-title-info {
    display: flex;
    margin-left: 2rem;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    color: #233674;
    margin-bottom: 0.6rem;
}

.pokemon-sub-infos {
    display: flex;
    justify-content: space-between;
    margin-right: 2rem;
    margin-left: 2rem;
    margin-bottom: 3.3rem;
}

.pokemon-titles {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #233674;
}

.pokemon-values {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #233674;
    text-align: end;
}

.pokemon-attribute {
    display: flex;
    margin-right: 2rem;
    margin-left: 2rem;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #233674;
    margin-bottom: 1rem;
}



.box-color {
    width:  12.6rem;
    height: 1.3rem;  
    background: #C4F789;
    border-radius: 2px;
}

.pokemon-title-attribute{
    margin-right: 3.8rem;
    width: 5rem
}

.main-detail{
    @media (min-width: 1200px) {
       display: flex;
       justify-content: space-between;
       margin-right: 9.8rem;
    }  
}

.sub-details{
    @media (min-width: 1200px) {
        margin-left: 4.8rem;
     }  
 
}

.main-head{
    @media (min-width: 1200px) {
       display: flex;
       margin-top: 0.6rem;
       margin-bottom: 1.5rem;
     } 
}

.image-fit-detail{
    width: 17.1rem;
    height: 16.6rem;

    @media (min-width: 1200px) {
        width: 23.5rem;
        height: 24.7rem;
      } 
}

.normal { background-color: none; }
.fire { background-color: red; }
.water { background-color: blue; }
.electric { background-color: yellow; }
.grass { background-color: green; }
.ice { background-color: lightblue; }
.fighting { background-color: red; color: white; }
.poison { background-color: purple; color: white; }
.ground { background-color: brown; }
.flying { background-color: blue; color: white; }
.psychic { background-color: pink; }
.bug { background-color: green; }
.rock { background-color: gray; }
.ghost { background-color: purple; color: white; }
.dragon { background-color: blue; color: white; }
.dark { background-color: black; color: white; }
.steel { background-color: gray; }
.fairy { background-color: pink; }

.defense{
    background: #F7802A;
    border-radius: 2px;
  }

.attack{
    background: #EA686D;
    border-radius: 2px;
}

.hp{
    background: #C4F789;
    border-radius: 2px;
}

.speed{
    background: #49D0B0;
    border-radius: 2px;
}