:root {
    --blue: #1e90ff;
    --white: #ffffff;
    --background-color: #F8F8F8;
    --background-card:  #FFFFFF;
  }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

*{
 box-sizing: border-box;
 margin: 0;
 padding: 0;
 font-family: 'Nunito', sans-serif;
}

html,
body {
    height: 100%;
}

body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background:  var(--background-color);
}

.container{
    padding: 0 2rem;

}

  
